/* main.css  */

/* 2) */
a {
    color: indigo;
}
a:link {
    color: gold;
}
a:visited {
    color: salmon;
}
a:active {
    color: red;
}
a:hover {
    color: orange;
}
/* 3) */
input:in-range{
    background-color: rgb(0 255 0 / 0.25);
}
input:not(:in-range){
    background-color: rgb(255 0 0 / 0.25);
}
/* 4) */
.task-4  li:first-of-type {
    color: orange;
}

  .task-5  li:first-of-type, .task-5  span:first-of-type {
    color: orange;
  }

.task-6  li:last-of-type, .task-6 span:last-of-type {
    color: orange;
}

.task-7 li:not(.first-item) {
    color: orange;
}
 .task-7 li:not(.first-item):not(:last-of-type) {
    background-color: yellow;
    color: black;
}

.task-8  ol :nth-child(2) {
    color: orange;
}
.task-8 ol :nth-child(2n) {
    color: orange;
}
.task-8 ol :nth-child(2n+6) {
    color: orange;
}

.task-9  h1.ua::before{
    content: "Слава ";
}

h1.hero::after {
    content: "  Слава!";
}

/* 11)  */
.cont::before{
    content: "\0A7";
    padding-right: 0.5em;
}