.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
   
    .header {
    grid-row: 1/3;
    
}
.main  {
    grid-row: 1/2;
    
}
.footer  {
    grid-row: 1/3;
   
}
}
